# Python cache
__pycache__/
*.py[cod]

# Environment files
.env
.env.*

# Virtual environments
venv/
ENV/
env/
.venv/

# VS Code settings
.vscode/

# Docker files
Dockerfile
docker-compose.yml
.dockerignore

# Docker containers
*.log
*.pid
*.seed
*.pid.lock

# Docker volumes
volumes/


